<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask tutorial</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <h1>Welcome to my homepage</h1>
    <p>Flask is really fun !</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias beatae ex harum illo ipsam iusto, laborum maiores natus non qui quod suscipit voluptatum. Debitis in incidunt modi repudiandae rerum!</p>

    {% endblock %}
</body>
</html>